/*custom font*/

@import url(http://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    background-color: #e6e6ff;
}

body {
    font-family: montserrat, arial, verdana;
}


/*form styles*/

#msform {
    margin: 50px auto;
    text-align: center;
    float: none;
    position: relative;
}

fieldset {
    border: none;
    position: relative;
}

fieldset:not(:first-of-type) {
    display: none;
}


/*progressbar*/

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    text-align: center;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    font-size: 20px;
    float: left;
    width: 25%;
    position: relative;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #333;
    background: white;
    border-radius: 20px;
    margin: 0 auto 5px auto;
}


/*progressbar connectors*/

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1;
    /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}


/*The number of the step and the connector before it = green*/

#progressbar li.active:before,
#progressbar li.active:after {
    background: #0099d9;
    color: #0099d9;
}

div.container {
    margin-top: 80px;
    width: 40%;
}

div.container-2 {
    margin: 5px 5px 5px 5px;
    width: 100%;
}

div.card {
    padding: 15px;
    padding-bottom: 60px;
}

div.card-1 {
    margin-top: -15%;
    height: 480px;
    width 250px;
}

div.card-2 {
    width: 100%;
    padding: 105px;
    margin-left: 25px;
}

.form-head {
    text-align: center;
    padding: 20px;
}

.btn {
    cursor: pointer;
}

button.next {
    float: right;
    background-color: #0099d0;
}

button.previous {
    float: left;
    background-color: #0099d0;
}

button.next:hover,
a.previous:hover {
    background-color: #0099d0;
}

button.submit {
    padding: 0px 10px;
    margin: 0px 10px auto;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    width: 75px;
}

.fa:hover {}

.fa-facebook {
    background: grey;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}
